label {
  display: flex;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
}

.addresses-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.regFormAdressesText {
  margin-bottom: 30px;
}
