@import 'normalize.css';
@import '../pages/page404/page404';
@import '../components/header/header';
@import '../components/previewMainPage/previewSlide';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/scss/autoplay';
@import 'swiper/swiper-bundle.css';

@font-face {
  font-family: 'CeraPro';
  src: url('../assets/fonts/CeraPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro';
  src: url('../assets/fonts/CeraPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro';
  src: url('../assets/fonts/CeraPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro';
  src: url('../assets/fonts/CeraPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro';
  src: url('../assets/fonts/CeraPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --bg: #fff;
  --base-txt: #3d3d3d;
  --on-accent-txt: #fff;
  --accent-color: #46a358;
  --input-border: #eaeaea;
  --placeholder-txt: #a5a5a5;
  --error: #f03800;
  --popup-bg: #7978787a;
  --text-description: #727272;
  --bg-section: #fbfbfb;
}

html {
  font-family: 'CeraPro', sans-serif;
  background-color: var(--bg);
  color: var(--base-txt);
  height: 100%;
}

body {
  height: 100%;
  padding: 0 20px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
  transition: 0.5s;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: 0.5s;
}

button:hover {
  opacity: 0.7;
  transition: 0.5s;
}
