.registrationPageHeader {
  width: 157px;
  display: flex;
  gap: 12px;
  font-size: 20px;
  font-weight: bolder;
  color: #3d3d3d;
  font-family: 'Cera Pro';
  margin-bottom: 40px;
}

.registerPageReference {
  color: #46a358;
}
