.user-profile {
  display: grid;
  grid-template-columns: 25% auto;
  margin-top: 20px;
  gap: 28px;
  margin-bottom: 20px;
  @media (max-width: 850px) {
    grid-template-columns: 35% auto;
  }

  @media (max-width: 600px) {
    grid-template-columns: 40% auto;
    gap: 5px;
  }
  @media (max-width: 600px) {
    grid-template-columns: 80%;
    grid-template-rows: 320px auto;
    gap: 5px;
    margin: 0 auto;
    justify-content: center;
  }
}

.inputField {
  @media (max-width: 600px) {
    width: 100% !important;
  }
}
