* {
  margin: 0;
}
@font-face {
  font-family: 'Cera Pro';
  src:
    local('Cera Pro Regular'),
    url('../src/assets/fonts/CeraPro-Regular.woff2') format('woff2');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro Black';
  src:
    local('Cera Pro Regular'),
    url('../src/assets/fonts/CeraPro-Black.woff') format('woff');

  font-weight: 400;
  font-style: normal;
}
.mainWrapper {
  width: 1440px;
  display: flex;
  flex-direction: column;
  font-family: 'Cera Pro';
  margin: auto;
}
